{% extends 'base.html' %}

{% block title %}Contacto - Tienda de Muebles y Melamina{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Contáctanos</h1>
    <p>Si tienes alguna pregunta, no dudes en ponerte en contacto con nosotros.</p>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <form action="{{ url_for('contact') }}" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" class="form-control" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Información de Contacto</h3>
        <p>Dirección: Av. Sucre - Calle 19</p>
        <p>Teléfono: 69783198 - 65643531 - 67314985</p>
        <p>Gmail: carteldha123@gmail.com</p>

        <h3>Nuestra Ubicación</h3>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.2600204248656!2d{{ coordenadas[1] }}!3d{{ coordenadas[0] }}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858155e1b169f5%3A0x50b35d79c1dc8d9b!2s{{ location_name }}!5e0!3m2!1ses!2sus!4v1614306890193!5m2!1ses!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
{% endblock %}